@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
        background-color: #36393f;
        color: whitesmoke;
        font-family: Monospace;
}

/* Links & stuff */
a {
    color: yellowgreen;
    text-decoration: underline;
}

/* These changes are nececarry to make <pre></pre> tags responsive, since all content is there. */
pre {
  white-space: pre-wrap;
  word-break: break-all;
}

.linkback {
    padding: 5px;
    font-size: 15px;
    text-align: right;
}

.postheader {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 5px;
  font-size: 15px;
  text-align: center;
}

.tags {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.content {
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  margin-bottom: 5px;
  font-size: 15px;
}


/* Custom warning box, I hope this isn't CSS abuse lol */
.warning {
    padding: 10px;
    border-radius: 15px;
    background-color: #cca300;
    display: table; /* Not the cleanest solution, but it works I guess */
}

/* Similar to the prior. */
.codeblock {
        color: darkseagreen;
        background-color: black;
        display: table;
        border-radius: 15px;
        padding: 10px;
}

.highlight {
    background-color: lightslategrey;
    border-radius: 5px;
    display: inline-table;
    padding: 10px;
}

.command {
    background-color: black;
    border-radius: 5px;
    display: table;
    padding: 10px;
}

.postsbottom {
  text-align: center;
}